/* 初期設定・変数設定 */
:root {
  /* COLOR SETTING */
  --main-orange: #FF8700;
}

/* BODYレイアウト */
main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-orange);
}
.main-logo {
  

