/* 初期設定・変数設定 */
:root {
  /* COLOR SETTING */
  --main-orange: #FF8700;
}

/* BODYレイアウト */
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-orange);
}

.signin {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: green;
}

.top {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--main-orange);
}

h1 {
  margin:0;
  font-size: 40px;
  color: white;
}

